@import "tailwindcss";

:root {
  --background:#171717;
  --foreground:#ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geist Mono', monospace;
}

.terminal-container {
  overflow: hidden;
}

.terminal-container .xterm-viewport {
  scrollbar-width: none;
}

.terminal-container .xterm-viewport::-webkit-scrollbar {
  display: none; 
}